{% extends "base.twig" %}
{% block title %}Edit {{ post.getTitle() }}{% endblock %}



{% block content %}
    {% include '/admin/admin-nav.twig' with {'active' : 'post'} %}
<div class="row">
    {% if error is not null %}
        <div class="alert alert-danger" role="alert">
            Error saving post: {{ error }}
        </div>
    {% endif %}
    <div class="col-md">
        {% if post %}
            <h3>Edit post id: {{ post.getId() }}</h3>
        {% else %}
            <h3>New post</h3>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md">

    </div>
</div>
<div class="row">
    <div class="col-md">
        <form method="post">
            <div class="form-group">
                <label for="postTitle">Title</label>
                <input type="text" class="form-control" id="postTitle" maxlength="255"
                       placeholder="post title" name="title" required value="{{ post ? post.getTitle() : '' }}">
            </div>

            <div class="form-group">
                <label for="postSummary">Summary</label>
                <textarea class="form-control" id="postSummary" name="summary" rows="3" maxlength="255"
                          required>{{ post ? post.getSummary() : '' }}</textarea>
            </div>

            <div class="form-group">
                <label for="postBody">Body</label>
                <textarea class="form-control" id="postBody" name="body" rows="10"
                          required>{{ post ? post.getBody() : '' }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>


{% endblock %}